body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: #d9d9d9;
}


/* Wrapper 
#wrapper {
	margin: 10em;
}*/


/* Navigation */
.nav-link{
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #d025ff;
}

.nav-link:hover{
    border-bottom-color: #9418b6;
}

.logo-img {
    width: 50px;
    max-width: 100%;
    height: auto;
	object-fit: contain;
}

.navbar-toggler:focus{
    box-shadow: none;
}



/* Carousel */
.c-container{
    height: 100vh;
}

.c-img{
    object-fit: cover;
    height: 100%;
}




/* Portfolio Section */
.btn{
    background: #d025ff;
}

.btn:hover{
    background: #9418b6;
}

section#portfolio .row{
    margin: 5em 1em 1em 1em;
}


section h1{
    margin-bottom: 2em;
}


@media screen and (max-width: 768px) {
    section#portfolio .row {
        width: auto !important;
        max-width: none !important;
        text-align: center !important;
    }
}


section{
    margin-bottom: 6em;
    padding: 2em;
}


@media screen and (min-width: 992px) {
    section{
        margin-bottom: 10em;
        padding: 2em;
    }

    section#portfolio .row{
        margin-top: 8em;
    }
}

.portfolio-img, .portfolio-img-container{
    width: 160px;
    height: 160px;
    object-fit: contain;
    object-position: center;
}

@media screen and (min-width: 320px) {
    .portfolio-img, .portfolio-img-container{
        width: 180px;
        height: 180px;
    }
}

@media screen and (min-width: 375px){
    .portfolio-img, .portfolio-img-container{
    width: 200px;
    height: 200px;
    }
}


@media screen and (min-width: 1200px) {
    .portfolio-img, .portfolio-img-container{
        width: 270px;
        height: 270px;
    } 
}

@media screen and (min-width: 2000px) {
    .portfolio-img, .portfolio-img-container{
        width: 320px;
        height: 320px;
    } 
}




/* About Section */
.profile-picture{
    width: 160px;
    height: 160px;
    object-position: center;
    object-fit: cover;
}

@media screen and (min-width: 320px) {
    .profile-picture{
        width: 220px;
        height: 220px;
    }
}

@media screen and (min-width: 375px){
    .profile-picture{
    width: 290px;
    height: 290px;
    }
}


@media screen and (min-width: 768px) {
    .profile-picture{
        width: 320px;
        height: 320px;
    } 
}

@media screen and (min-width: 1000px) {
    .profile-picture{
        width: 400px;
        height: 400px;
    } 
}

@media screen and (min-width: 1200px) {
    .profile-picture{
        width: 460px;
        height: 460px;
    } 
}

@media screen and (min-width: 1400px) {
    .profile-picture{
        width: 500px;
        height: 500px;
    } 
}


/* Guide Section */
.steps{
	width: 100%;
	max-width: 150px;
	object-fit: cover;
}

.guide-text{
    width: 100%;
    max-width: 100px;
    word-wrap: break-word;
    margin-left: 1em;
    text-align: center;
}


@media screen and (max-width: 992px) {
    section#guide .col-lg-3{
        margin-top: 5em;
    }
}


/* Plans Section */

@media screen and (max-width: 992px) {
    section#plans .col-lg-3{
        margin-top: 5em;
    }
}



/* Contact Section */
@media screen and (max-width: 992px) {
    section#contact .col-lg-5{
        margin-top: 6em;
    }

    section#contact .row{
        justify-content: center;
    }

    section#contact h1, section#contact p{
        text-align: center;
    }
}


@media screen and (max-width: 380px) {
    .calendly-inline-widget{
        min-width: 220px !important;
    }
}



/* Floating Whatsapp */
.whatsapp{
	position: fixed; 
	bottom: 0; 
	right: 0;
	margin-bottom: 2em;
	margin-right: 2em;
}


.whats-img{
	width: 3em;
	height: 3em;
	background-color: transparent;
	float: inline-end;

}


/* Media queries */







/* Gallery image section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 4px #000000;
}