body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navigation */
.nav-link{
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #bf22ea;
}

.nav-link:hover{
    border-bottom-color: #d07fe7;
}

.logo-img {
    width: 50px;
    max-width: 100%;
    height: auto;
	object-fit: contain;
}



/* Carousel */
.c-container{
    height: 100vh;
}

.c-img{
    object-fit: cover;
    height: 100%;
}


/* Wrapper */
#wrapper {
	padding-top: 10em;
	margin: 20em 10em 10em 10em;

}

.wrapper{
	padding: 10em 5em 10em 5em !important;
}



/* Portfolio Section */

.portfolio-img, .portfolio-img-container{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}



/* About Section */





/* FAQ Section */
.steps{
	width: 100%;
	max-width: 150px; /* adjust to your desired max-width */
	object-fit: cover;
}



/* Floating Whatsapp */
.whatsapp{
	position: fixed; 
	bottom: 0; 
	right: 0;
	margin-bottom: 2em;
	margin-right: 2em;
}


.whats-img{
	width: 4em;
	height: 4em;
	background-color: transparent;
	float: inline-end;

}


/* Gallery image section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 4px #000000;
}