body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation */
.nav-link{
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-color: #d07fe7;
}

.hover{
    border-color: #bf22ea;
}


/* Carousel */
.c-container{
    height: 100vh;
}

.c-img{
    object-fit: cover;
    height: 100%;
}


/* Wrapper */
#wrapper{

}

.branding-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}






.hero {
    background-color: #000000;
    background-image: url("hero.jpg");
    background-size: cover;
    height: 32rem;
    position: relative;
}

.hero h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}



/* Gallery image section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 4px #000000;
}